<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Record</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="centerdiv">
    <h2>Student Records</h2>
    <table>
        <thead>
            <tr>
                <th><span>Student ID</span></th>
                <th><span>Student Name</span></th>
                <th><span>Student Email</span></th>
                <th><span>Student Contact</span></th>
                <th><span>Action</span></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.eid }}</td>
                <td>{{employee.ename}}</td>
                <td>{{employee.eemail}}</td>
                <td>{{employee.econtact}}</td>
                <td>
                    <a href="/edit/{{ employee.id }}">Edit /  </a>

                    <a href="/delete/{{employee.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:rgb(0, 210, 246)" href="/">Add New Record</a></button>
</div>
</body>

</html>